.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
  padding: 8px 20px;
  background: rgb(255, 255, 255);
  z-index: 100;
  
  transform: translateX(-170px);
  .close {
    position: relative;
    top: 13px;
  }
  img {
    width: 12px; 
  }
  nav ul {
    margin-top: 30px;
    display: flex;
    flex-direction:column;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    right: 10px;
    color: hsl(220, 13%, 13%);
    li {
      padding: 8px 12px;
      cursor: pointer;
    }
    }
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}